<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIBuildDate</key>
	<string>1780000000</string>
	<key>AIBuildIdentifier</key>
	<string>2.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright The Adium Team, 2005-2008 (AdiumY fork)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>AIApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>Adium.sdef</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/phaedrus1992/AdiumY/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string></string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>com.apple.bundle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY Xtra</string>
			<key>UTTypeIconFile</key>
			<string>AdiumYExtra.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.xtra</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.github.phaedrus1992.adiumy.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY plug-in</string>
			<key>UTTypeIconFile</key>
			<string>AdiumPlugin.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.plugin</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AdIM</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumPlugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.github.phaedrus1992.adiumy.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY Libpurple plug-in</string>
			<key>UTTypeIconFile</key>
			<string>AdiumPlugin.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.libpurpleplugin</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AdIM</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumLibpurplePlugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.github.phaedrus1992.adiumy.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY WebKit Message View style</string>
			<key>UTTypeIconFile</key>
			<string>AdiumMessageStyle.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.messagestyle</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AIWK</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumMessageStyle</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.github.phaedrus1992.adiumy.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY Dock icon pack</string>
			<key>UTTypeIconFile</key>
			<string>AdiumIcon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.dockicon</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AIDk</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumIcon</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.github.phaedrus1992.adiumy.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY sound set</string>
			<key>UTTypeIconFile</key>
			<string>AdiumSoundset.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.soundset</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AISd</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumSoundset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.github.phaedrus1992.adiumy.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY emoticon set</string>
			<key>UTTypeIconFile</key>
			<string>AdiumEmoticonset.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.emoticonset</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AIEm</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumEmoticonset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.github.phaedrus1992.adiumy.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY script pack</string>
			<key>UTTypeIconFile</key>
			<string>AdiumScripts.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.script</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AIAS</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumScripts</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.github.phaedrus1992.adiumy.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY contact list layout</string>
			<key>UTTypeIconFile</key>
			<string>AdiumListLayout.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.contactlistlayout</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AILL</string>
				<key>public.filename-extension</key>
				<array>
					<string>ListLayout</string>
					<string>AdiumListLayout</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.github.phaedrus1992.adiumy.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY contact list color theme</string>
			<key>UTTypeIconFile</key>
			<string>AdiumListTheme.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.contactlisttheme</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AILT</string>
				<key>public.filename-extension</key>
				<array>
					<string>ListTheme</string>
					<string>AdiumListTheme</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.github.phaedrus1992.adiumy.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY status icon pack</string>
			<key>UTTypeIconFile</key>
			<string>AdiumStatusIcons.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.statusicons</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AISt</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumStatusIcons</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.github.phaedrus1992.adiumy.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY service icon pack</string>
			<key>UTTypeIconFile</key>
			<string>AdiumServiceIcons.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.serviceicons</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AISr</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumServiceIcons</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.github.phaedrus1992.adiumy.xtra</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY menu bar icons pack</string>
			<key>UTTypeIconFile</key>
			<string>AdiumMenuBarIcons.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.menubaricons</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AdMB</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumMenuBarIcons</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bundle</string>
				<string>com.apple.package</string>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.text</string>
				<string>public.message</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY chat log</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.xmllog</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AILo</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumLog</string>
					<string>chatlog</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.html</string>
				<string>public.text</string>
				<string>public.content</string>
				<string>public.message</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AdiumY HTML chat log</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.phaedrus1992.adiumy.htmllog</string>
			<key>UTTypeReferenceURL</key>
			<string>https://github.com/phaedrus1992/adiumy</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AILh</string>
				<key>public.filename-extension</key>
				<array>
					<string>AdiumHTMLLog</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
